.customContainer {
  display: flex;
  justify-content: center;

  .customContainerContent {
    background: black;
    max-width: 600px;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 100vh;
  }
}
