$shadow: 5px 5px 5px black;

.poster {
  overflow: hidden;
  background: rgb(97,0,0);
background: linear-gradient(188deg, rgba(97,0,0,1) 24%, rgba(0,0,0,1) 93%);
  color: white;
  text-transform: uppercase;
  position: relative;

  h1 {
    font-size: 5em;
    text-shadow: $shadow;
    margin-bottom: 1em;
  }

  .img-container {
    position: relative;
    z-index: 1;

    .fake-border {
      position: absolute;
      top: 0;
      border: 10px solid white;
      height: 952px;
      width: 952px;
      z-index: -1;
      box-shadow: $shadow;
    }

    img {
      border: 10px solid white;
      height: 952px;
      margin-left: -840px;
      z-index: 2;
      box-shadow: $shadow;
    }
  }

  .main-title {
    font-size: 5em;
    position: relative;
    z-index: 1;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;

    .main-title-background {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -10%;
      right: 10%;
      height: 100%;
      width: 100%;
      background-color: black;
      z-index: -1;
    }

    span {
      z-index: 1;
    }
  }

  .title-container {
    font-size: 3em;
    width: 100%;
    text-align: left;
    margin-left: 200px;
    margin-bottom: 0.25em;
    display: flex;
    font-weight: bold;

    .title {
      background: rgba(150,150,150,0.7);
      width: 100%;
      display: inline;
      padding-left: 5px;
    }
  }

  .footer {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%,0);

    svg {
      height: 100px;
      path {
        fill: #e50914
      }
    }

    .footer-text {
      font-size: 2em;
    }
  }
}
