.App {
  text-align: center;
  background-color: #333;
}

a {
  color: #AED6F1;
  &:visited {
    color: #D2B4DE;
  }
}

button {
  background: #333;
  border-radius: 3px;
  border: 1px solid white;
  outline: none;
  color: white;
  padding: 1em;
  cursor: pointer;
}
