$bottom-bar-height: 80px;

#results {
  .resultsContent {
    background: black;
    padding-bottom: $bottom-bar-height;

    .slideshowContainer {
      position: relative;
      margin: auto;

      .posterFade {
        animation-name: posterFade;
        animation-duration: 1s;
      }

      @keyframes posterFade {
        from {opacity: .4}
        to {opacity: 1}
      }
    }

    .description {
      padding: 1em;
    }
  }


  .bottomBar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: $bottom-bar-height;
    background: none;

    .bottomBarContent {
      background-color: black;
      border-top: 1px solid #333;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: $bottom-bar-height;

      .saveMessage {
        margin-top: 0.5em;
        font-size: 9px;
      }

      button {
        border: none;
        background: none;
      }
    }
  }
}
